.description{
    color: rgb(82, 119, 175);
    font-size: 25px;
}
.todoBlock{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row-reverse;
    max-width: 500px;
    margin: 0 auto;
}
.todoBlock_big{
    font-size: 20px;
}
